{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Ingresses in <span class="text-primary">{% if namespace == 'all' %}All Namespaces{% else %}{{ namespace }}{% endif %}</span></h2>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>NAMESPACE</th>
            <th>NAME</th>
            <th>CLASS</th>
            <th>HOSTS</th>
            <th>AGE</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody id="resourceTableBody">
    {% for item in items %}
        <tr>
            <td>{{ item.namespace }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.class or '<none>' }}</td>
            <td>{{ item.hosts }}</td>
            <td>{{ item.age }}</td>
            <td>
                <a href="{{ url_for('main.describe_ingress', namespace=item.namespace, name=item.name) }}" class="btn btn-info btn-sm">Describe</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6" class="text-center">No Ingresses found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}